test.py
todo.txt
sources
.venv
*/__pycache__
LLMCONFRAG/pdf.py
/doc_download
LLMCONFRAG/KnowledgeBase/input-sources/test.json
LLMCONFRAG/knowledgeBase/__pycache__
.gradio

LLMCONFRAG/knowledgeBase/output-processed-sources/!.*
LLMCONFRAG/knowledgeBase/output-processed-sources/*

query-engines/!.*
query-engines/*