test.py
todo.txt
sources
.venv
*/__pycache__
LLMCONFRAG/pdf.py
/doc_download

LLMCONFRAG/knowledgeBase/__pycache__
.gradio

Data/output-processed-sources/!.*
Data/output-processed-sources/*
Data/example-input-jsons/test*.json
Data/query-engines/query_engines_list.json
Data/query-engines/collections/*
query-engines/!.*
query-engines/*